@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Roobert PRO', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }

  body {
    @apply bg-white text-gray-900;
  }

  .dark body {
    @apply bg-black text-gray-100;
  }
}
