@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Roobert PRO', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}
